
<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
   <h2>
     Name of Blog: <%=@post.name%>
     <p>Content: <%=@post.content%></p>
     Update Blog Post Name:<input type="text" name="name">
     Update Blog Post Content:<input type="text" name="content"></h2>
     <input type="submit" name="submit" id="submit"></input>
</form>
