<form method="Post" action="/posts">
Name:<input type="text" name="name"></name>
<p>
Content:<input type="text" name="content"></name>
</p>
<input type="submit" name="submit" id="submit"></input>
</form>
